@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
header {
    background: green;
}
body {
     font-family: 'Lato';
}

nav li a{
    color: #fff;
    border: none;
    text-transform: uppercase;
}

nav li a:hover{
    border: none;
    background: white;
    color: green;
}

#features {
    background: green;
}

#footer {
    background: green;
}

.post .boton-rojo {
    background: red;
    width: 100px;
    padding: 20px;
    margin: 20px auto;
}

.post .boton-rojo span{
    background: red;
    color: white;

}